<ion-view view-title="Top Movies">
  <ion-content>
    <ion-refresher on-refresh="load()" pulling-text="Pull to refresh..." refreshing-text="Updating" refreshing-icon="ion-loading-d">
      </ion-refresher>

     <div ng-hide="showMsg" style="color: red; text-align:center;"  class="item item-body"> Connection lost </div>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="keyword" ng-change="search(keyword)">
    
    </label>
    
    <ion-list>
      <a class="item item-thumbnail-left" ng-repeat="movie in movies" href="#/tabs1/top/{{movie.id}}" >
        <img src="http://image.tmdb.org/t/p/w154/{{movie.poster_path}}">
        <h2>{{movie.title}}</h2>
        <p>{{movie.release_date}}</p>
      </a>
      
    
    </ion-list>
  </ion-content>
</ion-view>
